body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}

/* text styles */

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  text-align: center;
  color: #fff;
}
h2 {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
h3 {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.body-text-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* header styles */

header {
  width: 100%;
  height: 100%;
}

.header-top {
  margin: 0 auto;
  width: 1128px;
  height: 72px;
}

.header-logo {
  position: relative;
  float: left;
  height: 72px;
}
.header-logo img {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.header-nav {
  height: 100%;
}
.header-links {
  float: left;
  margin-left: 72px;
}
.header-links a {
  text-decoration: none;
  color: black;
  line-height: 72px;
  margin-right: 40px;
}
.header-links a:hover,
header-links a:focus {
  color: #404bbf;
}
.header-contact {
  float: right;
}
.header-contact a {
  text-decoration: none;
  color: black;
  line-height: 72px;
  margin-left: 16px;
}
.header-contact a:hover,
header-contact a:focus {
  color: #404bbf;
}
.header-main {
  width: 100%;
  height: 600px;
  background-color: #2e2f42;
  position: relative;
}
.header-main-title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  width: 1128px;
  margin: 0 auto;
  color: white;
}
.header-main-title > button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  cursor: pointer;
}
.header-main-title > button:hover,
.header-main-title > button:focus {
  background-color: #404bbf;
}
.header-main-title > button span {
  color: #fff;
}

/* main styles */

main {
  width: 100%;
}
.section-features {
  width: 1128px;
  margin: 0 auto;
  height: 264px;
  margin-top: 80px;
}
.section-features > div {
  float: left;
  width: 264px;
  margin-right: 24px;
}

.section-features > div:last-child {
  margin-right: 0;
}

.section-our-team {
  background-color: #f4f4fd;
  width: 100%;
  height: 732px;
  text-align: center;
  padding-top: 120px;
}
.section-our-team-wrapper {
  width: 1128px;
  margin: 0 auto;
  margin-top: 72px;
}
.our-team-element {
  float: left;
  margin-right: 24px;
  border-radius: 0 0 4px 4px;
  padding-block: 0px 32px;
  padding-inline: 0px;
  width: 264px;
  height: 380px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  text-align: center;
}
.section-our-team-wrapper > .our-team-element:last-child {
  margin-right: 0;
}

.section-our-portfolio {
  width: 100%;
  height: 1240px;
  padding-top: 120px;
}

.section-our-portfolio-wrapper {
  width: 1128px;
  margin: 0 auto;
}
.our-portfolio-line-elements {
  margin-top: 68px;
  height: 420px;
}
.our-portfolio-line-elements > .our-portfolio-element:last-child {
  margin-right: 0;
}
.our-portfolio-element {
  float: left;
  width: 360px;
  height: 420px;
  background: #fff;
  margin-right: 24px;
}
.our-portfolio-element-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-inline: 16px;
  padding-block: 32px;
  width: 360px;
  height: 120px;
}
.our-portfolio-element-content > h3 {
  margin-top: 0;
}

/* footer styles */
footer {
  height: 312px;
  background-color: #2e2f42;
}
.footer-description-wrapper {
  max-width: 1128px;
  margin: 0 auto;
  padding: 100px 0px 100px 0px;
}
.footer-description {
  width: 264px;
  height: 72px;
}
.footer-description p {
  color: #f4f4fd;
}
